#scrap {
    height: 100%;
    width: 100%;
    min-height: 200px;
    margin-bottom: 15px;
    padding: 7px 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-myform {
    min-height: 320px;
    max-width: 300px;
    padding: 18px 18px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-myform .form-myform-heading,
.form-myform .checkbox {
    margin-bottom: 10px;
}

.form-myform input[type="text"],
.form-myform input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.btn {
    min-width: 96px;
    min-height: 48px;
}
