#scrap {
    height: 100%;
    width: 100%;
    min-height: 200px;
    margin-bottom: 15px;
    padding: 7px 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
